.rem-cont{
    background-color: rgba(21, 22, 21, 0.233);
   
} 

.main-rem figure{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
margin: 30px;
border: 30px;
box-shadow: 20px; 
border-color: aqua;}
.main-rem img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
   
}
.main-rem div{
    gap: 10%;
}
    
